/Java_Crash_Course/InteractiveCommonDataTypes/build/
/Java_Crash_Course/InteractiveCommonDataTypes/dist/
/Java_Crash_Course/YouTubeHelloWorld/build/
/Java_Crash_Course/InteractiveCommonDataTypes/nbproject/private/
/Java_Crash_Course/YouTubeHelloWorld/nbproject/private/