/Java_Crash_Course/InteractiveCommonDataTypes/build/
/Java_Crash_Course/InteractiveCommonDataTypes/dist/
/Java_Crash_Course/YouTubeHelloWorld/build/
/Java_Crash_Course/InteractiveCommonDataTypes/nbproject/private/
/Java_Crash_Course/YouTubeHelloWorld/nbproject/private/
/ChallengeActivity1-HelloYourName2Ways/nbproject/private/
/ChallengeActivity1-HelloYourName2Ways/build/
/OnePlusTwoEqualsTwelve/nbproject/private/
/OnePlusTwoEqualsTwelve/build/
/RandomExample/nbproject/private/
/RandomExample/build/
/StringBuilder/nbproject/private/
/StringBuilderExamle/nbproject/private/
/StringBuilderExample/nbproject/private/
/StringBuilderExample/build/
/MathExample/nbproject/private/
/MathExample/build/
/MethodBasic/nbproject/private/
/MethodBasic/build/
/VariableScope/nbproject/private/
/VariableScope/build/
/NSidedDiceRun/nbproject/private/
/NSidedDiceRun/build/
/PlayingCardsExample/nbproject/private/
/PlayingCardsExample/build/
/BasicSortingSearchingDemo/nbproject/private/
/BasicSortingSearchingDemo/build/